header h1, header h3 {
	text-align: center;
}

.jumbotron {
	background-color: #ffe6cc;
	padding: 1em;
	border-color: orange;
}

body {
	background-color: #fff3e6;
}

header {
  animation-iteration-count: 1;
  animation-name: BounceIn;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
}

@keyframes BounceIn {
  0% {
    transform: scale(0.2);
    opacity: 0.1;
  }
  60% {
    transform: scale(0.7);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

video {
	border-radius: 1em;
	width: 70%;
}

.breadcrumb {
  background-color: #ffe6cc;
}

.breadcrumb a {
  color: black;
}

.breadcrumb-item a:hover, a:hover {
  font-weight: bold;
  color: orange;
}

